<app-navbar></app-navbar>
<!-- offers.component.html -->
<div class="offers-page">

  <!-- Wrapper per mantenere filters a sinistra e search a destra -->
  <div class="top-bar">
    <section class="filters">
      <!-- Filtro per genere -->
      <section class="filters">
        <select id="genre" [(ngModel)]="selectedGenre" (change)="applyFilters()">
          <option value="">GENERE</option>
          <option *ngFor="let genre of genres" [value]="genre.name">
            <span [innerHTML]="genre.icon"></span> {{ genre.name }}
          </option>
        </select>
      </section>

      <!-- Filtro per condizione -->
      <section class="filters">
        <select id="condition" [(ngModel)]="selectedCondition" (change)="applyFilters()">
          <option value="">CONDIZIONI</option>
          <option *ngFor="let condition of conditions" [value]="condition.name">
            <span [innerHTML]="condition.icon"></span> {{ condition.name }}
          </option>
        </select>
      </section>

      <section class="filters">
        <select id="language" [(ngModel)]="selectedLanguage" (change)="applyFilters()">
          <option value="">LINGUA</option>
          <option *ngFor="let language of languages" [value]="language.name">
            <span [innerHTML]="language.icon"></span> {{ language.name }}
          </option>
        </select>
      </section>
    </section>

    <!-- Opzioni di visualizzazione -->
    <section class="search">
      <div class="view-toggle">
        <button (click)="changeView('grid')" [class.active]="viewMode === 'grid'">
          Griglia
        </button>
        <button (click)="changeView('list')" [class.active]="viewMode === 'list'">
          Lista
        </button>
      </div>
    </section>
  </div>

  <!-- Lista Libri -->
  <section class="book-list container">
    <div *ngIf="filteredBooks.length > 0" class="row">
      <div *ngFor="let book of filteredBooks" [ngClass]="viewMode === 'grid' ? 'col-md-4 mb-4' : 'col-12 mb-3'">
        <div class="card h-100 flex-row" [ngClass]="viewMode === 'grid' ? '' : 'flex-row align-items-center p-2'">
          <img [src]="book.coverImg" alt="Copertina libro" class="img-fluid"
            [ngClass]="viewMode === 'grid' ? 'card-img-top' : 'w-25 me-3'" (click)="showBookDetails(book)" />
          <div class="card-body" [ngClass]="viewMode === 'grid' ? '' : 'p-0'">
            <h5 class="card-title">{{ book.title }}</h5>
            <p class="card-text mb-1">{{ book.author }}</p>
            <p class="card-text mb-1">{{ book.genre }}</p>
            <p class="book-condition">{{ book.condition }}</p>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="filteredBooks.length === 0" class="no-books-message text-center py-5">
      <p class="text-muted">Nessun Libro Trovato</p>
    </div>
  </section>