/* offers.component.css */
.offers-page {
  padding: 2rem;
  font-family: Arial, sans-serif;
}

hr {
  border: none;
  height: 2px;
  background-color: black;
  margin: 20px 0;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  flex-wrap: nowrap; /* Impedisce che vadano su righe diverse */
  width: 100%;
}

/* Sezione filtri */
.filters {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Spazio tra i filtri */
  align-items: center;
}

.filters select {
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

.filters select:focus {
  border-color: #007bff;
  outline: none;
}

.filters select option {
  padding: 0.5rem;
}

.view-toggle {
  display: flex;
  gap: 0.5rem;
}

.view-toggle button {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.view-toggle .active {
  background-color: #007bff;
  color: white;
  border-radius: 5px;
}

.book-item {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.book-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.book-info h3 {
  margin: 0.5rem 0;
}

.price {
  font-weight: bold;
  color: #27ae60;
}

/* Aggiunto per le icone di condizione */
.condition-icon {
  margin-right: 8px;
}

/* Stile per la visualizzazione della condizione */
.book-condition {
  display: flex;
  align-items: center;
  font-size: 1rem;
  
}

.book-condition span {
  margin-left: 5px;
}

.book-condition .icon {
  font-size: 1.2rem;
  margin-right: 5px;
}

/* Aggiungi stili per ogni icona di condizione (opzionale) */
.book-condition .nuovo { color: #007bff; }
.book-condition .pari-al-nuovo { color: #27ae60; }
.book-condition .discreto { color: #f39c12; }
.book-condition .vecchio { color: #e74c3c; }