<div class="book-details" *ngIf="book">
  <!-- Pulsante di chiusura -->
  <button class="close-button" (click)="goBack()">✖</button>

  <h1>{{ book.title }}</h1>
  <h2>di {{ book.author }}</h2>
  <img [src]="book.coverImg" alt="Copertina del libro" class="book-image" />
  <p>{{ book.description }}</p>

  <!-- Azioni -->
  <div *ngIf="book.ownerId !== userId">
    <div class="book-actions">
      <button (click)="showExchangeModal()">Richiedi Scambio</button>
    </div>
  </div>
</div>

<div class="modal" *ngIf="isModalVisible">
  <div class="modal-content">
    <div class="modal-header">
      <button class="close-button" (click)="closeExchangeModal()">✖</button>
      <h2 *ngIf="!responseMessage">Inserisci Dettagli Utente</h2>
    </div>
    <ul *ngIf="!responseMessage">
      <li *ngFor="let book of userBooks; let i = index" class="book-item">
        <input
          type="radio"
          name="selectedBook"
          [value]="book"
          [(ngModel)]="senderBook"
        />
        <img [src]="book.coverImg" [alt]="book.title" class="book-image" />
        <div class="book-details">
          <h3>{{ book.title }}</h3>
          <p>Autore: {{ book.author }}</p>
          <p>Descrizione: {{ book.description }}</p>
        </div>
      </li>
    </ul>
    <div *ngIf="responseMessage">
      <h3>{{ responseMessage }}</h3>
    </div>
    <div *ngIf="!responseMessage" class="book-actions">
      <button [disabled]="!senderBook" (click)="sendExchangeRequest()">
        Invia Richiesta di Scambio
      </button>
    </div>
  </div>
</div>
